<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--linha de responsividade da pagina -->
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"><!-- importando o bootstrap -->
<title>Projeto Academy - Login</title>
<meta name="author" content="Nilson Eduardo"/>
<link rel="stylesheet" href="css/login.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script><!-- o fontawesome fai importa os icones do JS -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>

	<div class="Login-Form">
		<div class="container">
			<div class="main-div">
				<div class="texto-header">
					<h2>Cadastro de usuário</h2>
					<a href="#">Crie seu usuário no sistema</a>
				</div>
				
				<form method="post" th:object="${usuario}" action="salvarUsuario"><!-- chama o mapeamento do alunocontroller -->
					<div class="form-group">
						<input  type="email" class="form-control" th:field="*{email}" placeholder="Digite seu E-mail">
					</div>
					
					<div class="form-group">
						<input type="text" class="form-control" th:field="*{user}"  placeholder="Username"><!--user vem do usuario model  -->
					</div>
					
					<div class="form-group">
						<input type="password" class="form-control" th:field="*{senha}" placeholder="Insira sua senha">
					</div>
					
					<button type="submit" class="btn btn-primary">Cadastrar</button>
					<button type="button" class="btn btn-info">Voltar</button>
				</form>
				
			</div>
			
			
		</div>
	</div>

</body>
</html>