<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--linha de responsividade da pagina -->
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"><!-- importando o bootstrap -->
<title>Projeto Academy</title>
<meta name="author" content="Nilson Eduardo"/>
<link rel="stylesheet" href="css/style.css">
<script src="https://kit.fontawesome.com/006642858d.js"></script><!-- o fontawesome fai importa os icones do JS -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
 	<div th:replace="fragmentos/fragmentos :: cabecalho"></div><!--chamando o cabeçalho da  pagina fragmentos.html-->
	<section class="neo-section" style="background-image: url('img/bg-index.jpg');"><!-- nome da section aleatorio -->
	<div class="sombra"></div>	
	<div class="center neo-container">
		<h1 class="texto-centro">Sistema de gerenciamento de alunos</h1>	
	
	<div class="botoes">
	<div class="wm">
	<h5 class="btn">CADASTRAR ALUNO</h5><!--right puxa o botão pra direita -->
	</div>
	<div class="wm">
 	<h5 class="btn justify-content-center">ENCONTRAR ALUNO</h5><!--justify puxa o botão pro centro -->
	</div>
	
	<div class="clear"></div>
	</div>
	</div>
	</section>
	<div th:replace="fragmentos/fragmentos :: rodape"></div><!--chamando o rodape da  pagina fragmentos.html-->
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>